@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Manager</title>
</head>
<body>
<div>
    <h1>Manager role-access page</h1>
    <a asp-controller="Home" asp-action="Index">Home page</a>
</div>
</body>
</html>